<li class="recipe-card slide-up">
    <a href="/recipe/<%= recipe.id %>">
        <div class="recipe-image">
            <img src="<%= recipe.image %>" alt="<%= recipe.title %>" class="recipe-img">
        </div>
        <div class="recipe-content">
            <h3><%= recipe.title %></h3>
            <p><%= recipe.description %></p>
        </div>
    </a>
</li>