<%- include("../partials/head", {title: "Liste"}) %>
<%- include("../partials/header") %>

<main class="main">
    <section class="popular-section container categories-grid">
        <a href="/categories">
            <div class="category-card fade-in">
                <img src="/assets/plat.png" alt="Photo d'un plat">
                <h3>Toutes les recettes</h3>
                <p>Retrouver toutes nos recettes qui sauront ravir vos papilles.</p>
            </div>
        </a>
        <a href="/categories/entrees">
            <div class="category-card fade-in">
                <img src="/assets/entree.png" alt="Photo d'une entrée">
                <h3><%= categories[0].name %></h3>
                <p><%= categories[0].description %></p>
            </div>
        </a>
        <a href="/categories/plats">
            <div class="category-card fade-in">
                <img src="/assets/plat.png" alt="Photo d'un plat">
                <h3><%= categories[1].name %></h3>
                <p><%= categories[1].description %></p>
            </div>
        </a>
        <a href="/categories/desserts">
            <div class="category-card fade-in">
                <img src="/assets/dessert.png" alt="Photo d'un dessert">
                <h3><%= categories[2].name %></h3>
                <p><%= categories[2].description %></p>
            </div>
        </a>
    </section>
    <section class="popular-section container">
        <% if (category){ %>
            <h2 class="section-title">Recettes : <%= category.name %></h2>
        <% } else { %>
            <h2 class="section-title">Toutes les recettes</h2>
        <% } %>
        <ul class="recipes-grid">
            <% recipes.forEach((recipe) => { %>
                    <%- include("../partials/recipeCard", {recipe: recipe}) %>
            <% }) %>
        </ul>
    </section>
</main>

<%- include("../partials/footer") %>