<%- include('../partials/head', {title: recipe ? recipe.title : 'Recette'}) %>
<%- include('../partials/header') %>

<main class="main">
  <% if (recipe) { %>
    <section class="hero" id="home">
      <div class="container">
        <div class="hero-content">
          <h1 class="hero-title"><%= recipe.title %></h1>
          <img src="<%= recipe.image %>" alt="<%= recipe.title %>" class="recipe-image">
          <br>
          <p class="hero-description"><%= recipe.description %></p>
        </div>
      </div>
    </section>
    <section class="recipe-section container">
      <br>
      <h2 class="section-title">Ingrédients</h2>
      <div class="ingredients-list">
        <ul>
          <% ingredients.forEach(ingred => { %>
            <li class="ingredient-item">
              <%= ingred.quantity %> <%= ingred.unit %> de <%= ingred.name %>
            </li>
          <% }) %>
        </ul>
      </div>
    </section>

    <section class="recipe-section container">
      <h2 class="section-title">Préparation</h2>
      <div class="instructions-list">
        <ol>
          <% instructions.forEach((step, index) => { %>
            <li class="instruction-item">
              <span class="step-number"><%= index + 1 %></span>
              <%= step.description %>
            </li>
          <% }) %>
        </ol>
      </div>
    </section>

    <section class="comments-section container">
      <h2 class="section-title">Commentaires</h2>
      <div class="comments-list">
        <% if (comments.length === 0) { %>
          <p class="text-muted">Aucun commentaire pour l’instant.</p>
        <% } else { %>
          <% comments.forEach(chat => { %>
            <div class="comment-item">
              <div class="comment-header">
                <span class="comment-author"><%= chat.username %></span>
                <span class="comment-date"><%= chat.createdAt.toLocaleDateString() %></span>
              </div>
              <div class="comment-content"><%= chat.content %></div>
              <div class="comment-rating">Note : <%= chat.note ? chat.note : "Non noté" %></div>
            </div>
          <% }) %>
        <% } %>
      </div>
    </section>
  <% } else { %>
    <section class="hero error_title">
      <div class="container">
        <h1 class="hero-title"><%= message || "Recette introuvable" %></h1>
      </div>
    </section>
  <% } %>

</main>

<%- include("../partials/footer") %>