<%- include('../partials/head', {title:'Accueil'}) %> <%- include
('../partials/header') %> <% if (recipe) { %>

<section class="hero" id="home">
  <main class="main">
    <div class="hero-actions">
      <div class="container">
        <div class="modal-header">
          <div class="modal-content">
            <br>
            <h1 class="hero-title"><%= recipe.title %></h1>
            <img src="<%= recipe.image %>" alt="<%= recipe.title %>" class="recipe-image">
            <br>
            <p><%= recipe.description %></p>
            <br>
          </div>
        </div>

        <div class="modal-header">
          <div class="modal-content">
            <br>
            <h2 class="section-title">Ingrédients</h2>
            <div class="modal-body" id="modal-body">
              <ul class="recipes-grid">
                <% ingredients.forEach(ingred => { %>
                <li>
                  <%= ingred.quantity %> <%= ingred.unit %> de <%= ingred.name
                  %>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>

        <div class="modal-header">
          <div class="modal-content">
            <br>
            <h2 class="section-title">Préparation</h2>
            <div class="modal-body" id="modal-body">
              <ol class="recipes-grid">
                <% instructions.forEach(step => { %>
                <li><%= step.description %></li>
                <% }) %>
              </ol>
            </div>
          </div>
        </div>

        <div class="modal-header">
          <div class="modal-content">
            <br>
            <h2 class="section-title">Commentaires</h2>
            <div class="modal-body" id="modal-body">
              <% if (comments.length === 0) { %>
              <p>Aucun commentaire pour l’instant.</p>
              <% } else { %> <% comments.forEach(chat => { %>
              <div>
                <strong><%= chat.username %></strong> –
                <em><%= chat.createdAt.toLocaleDateString() %></em>
                <p><%= chat.content %></p>
                <p>Note : <%= chat.note ? chat.note : "Non noté" %></p>
              </div>
              <% }) %> <% } %> <% } else { %>
              <h1><%= message || "Recette introuvable" %></h1>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
<%- include("../partials/footer") %>
